{% extends "base_logged_in.html" %}

<!-- Add CV should be active.
<a class="nav-link text-white" href="home">Dashboard</a>
<a class="nav-link text-white" href="positions">Positions</a>
<a class="nav-link active text-white" aria-current="page" href="add_cv">Add CV</a>
<a class="nav-link text-white" href="add_ml">Add ML</a> -->

{% block main %}
<p class="text-center mt-5 fs-4 fw-semibold">Add a new CV</p>
<div class="d-flex justify-content-center">
    {% if invalid %}
        <div class="alert alert-danger" role="alert">
            Not a pdf file or too big! Only pdf files less than 2MB are allowed.
        </div>
    {% endif %}
</div>
<!-- <div class="d-flex justify-content-center">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            Something went wrong. Please try again.
        </div>
    {% endif %}
</div> -->
<div class="d-flex justify-content-center">
    <form class="ms-3 col-sm-3" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="inputTitle" class="form-label">For candidate:</label>
            <select class="form-select" aria-label="Candidate">
                <option selected>Choose candidate</option>
                {% for candidate in candidates %}
                    <option value="{{ candidate[0] }}">{{ candidate[2] }} {{ candidate[3] }}</option>
                {% endfor %}
                </select>
        </div>
        <div class="mb-3">
            <input class="form-control" type="file" id="formFile" name= "cv" required>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>
{% endblock %}
