{% extends "base_logged_in.html"  %}

<!-- Position should be active and the links begin with ../
<a class="navbar-brand text-white" href="../home">SmartHire</a> -->
<!-- <a class="nav-link text-white" href="../home">Dashboard</a>
<a class="nav-link active text-white" aria-current="page" href="../positions">Positions</a>
<a class="nav-link text-white" href="../add_cv">Add CV</a>
<a class="nav-link text-white" href="../add_ml">Add ML</a> -->
<!-- <li><a class="dropdown-item" href="../profile">Profile</a></li>
<li><a class="dropdown-item" href="../logout">Log out</a></li> -->

{% block main %}
<p class="text-center mt-5 fs-4 fw-semibold">Add a new position</p>
<div class="d-flex justify-content-center">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            Something went wrong. Please try again.
        </div>
    {% endif %}
</div>
<div class="d-flex justify-content-center">
    <form class="ms-3 col-sm-3" method="POST">
        <div class="mb-3">
            <label for="inputTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="inputTitle" name="title" required>
        </div>
        <div class="mb-3">
            <label for="inputDescription" class="form-label">Description</label>
            <textarea class="form-control" id="inputDescription" name="description" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>
{% endblock %}
