{% extends "base_logged_in.html" %}

{% set title = candidate[2] ~ ' ' ~ candidate[3] %}
{% set active_class = 'positions' %}

{% block main %}
<p class="text-center mt-5 fs-4 fw-semibold">{{ candidate[2] }} {{ candidate[3] }}</p>
<div class="mx-4">
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label fw-semibold">Email</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ candidate[4] }}">
        </div>
    </div>
</div>
<div class="mx-4">
    <div class="mb-3 row">
        <label for="staticPhone" class="col-sm-2 col-form-label fw-semibold">Phone number</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticPhone" value="{% if candidate[5] %}{{ candidate[5] }}{% else %}-{% endif %}">
        </div>
    </div>
</div>
<div class="mx-4">
    <div class="mb-3 row">
        <label for="staticBirthDate" class="col-sm-2 col-form-label fw-semibold">Date of birth</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticBirthDate" value="{% if candidate[10] %}{{ candidate[10] }}{% else %}-{% endif %}">
        </div>
    </div>
</div>
<div class="mx-4">
    <div class="mb-3 row">
        <label for="staticAddress" class="col-sm-2 col-form-label fw-semibold">Address</label>
        <div class="col-sm-10">
            <textarea readonly class="form-control-plaintext" id="staticAddress" rows="3" style="resize:none">{% if candidate[6] or candidate[7] or candidate[8] or candidate[9] %}{% if candidate[6] %}{{ candidate[6] }}{% else %}{% endif %}
{% if candidate[7] %}{{ candidate[7] }} {% else %}{% endif %}{% if candidate[8] %}{{ candidate[8] }}{% else %}{% endif %}
{% if candidate[9] %}{{ candidate[9] }}{% else %}{% endif %}{% else %}-{% endif %}</textarea>
        </div>
    </div>
</div>
<!-- information about documents -->
{% endblock %}
