{% extends "base_logged_in.html" %}

<!-- There shouldn't be an active tab/page in the navbar.
<a class="nav-link text-white" href="home">Dashboard</a>
<a class="nav-link text-white" href="positions">Positions</a>
<a class="nav-link text-white" href="add_cv">Add CV</a>
<a class="nav-link text-white" href="add_ml">Add ML</a> -->

{% block main %}
<p class="text-center mt-5 fs-4 fw-semibold">Change your password</p>
<div class="d-flex justify-content-center">
    {% if invalid %}
        <div class="alert alert-danger" role="alert">
            Wrong password. Please try again.
        </div>
    {% endif %}
    {% if invalid_password %}
        <div class="alert alert-danger" role="alert">
            Invalid input. Please enter a password that satisfies the rules.
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            Something went wrong. Please try again.
        </div>
    {% endif %}
</div>
<div class="d-flex justify-content-center">
    <form class="ms-3 col-sm-3" method="POST">
        <div class="mb-3">
            <label for="inputPassword1" class="form-label">Old password</label>
            <input type="password" class="form-control" id="inputPassword1" name="old_password" required>
        </div>
        <div class="mb-3">
            <label for="inputPassword2" class="form-label">New password</label>
            <input type="password" class="form-control" id="inputPassword2" name="new_password" aria-labelledby="passwordHelp" required>
            <div id="passwordHelp" class="form-text">Your password must be at least 6 characters long and contain at least 1 number and at least 1 special character.</div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}
