{% extends "base_logged_in.html" %}

{% set title = 'Edit "' ~ position[2] ~ '"' %}
{% set active_class = 'positions' %}

{% block main %}
<p class="text-center mt-5 fs-4 fw-semibold">Edit the position</p>
<div class="d-flex justify-content-center">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            Something went wrong. Please try again.
        </div>
    {% endif %}
</div>
<div class="d-flex justify-content-center">
    <form class="ms-3 col-sm-3" method="POST">
        <div class="mb-3">
            <label for="inputTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="inputTitle" name="title" value="{{ position[2] }}" required>
        </div>
        <div class="mb-3">
            <label for="inputDescription" class="form-label">Description</label>
            <textarea class="form-control" id="inputDescription" name="description" rows="5" required>{{ position[3] }}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}
