<div class="d-flex justify-content-center">
    <div id="g_id_onload"
        data-client_id="{{ client_id }}"
        data-context="use"
        data-ux_mode="redirect"
        data-login_uri="http://localhost:5000/signin-google"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-shape="pill"
        data-theme="outline"
        data-text="continue_with"
        data-size="large"
        data-logo_alignment="left">
    </div>
</div>
