{% extends "base_logged_in.html" %}

{% set title = position[2] %}
{% set active_class = 'positions' %}

{% block main %}
<div class="row mx-3">
    <div class="col-11">
        <p class="mt-5 fs-4 fw-semibold">{{ position[2] }}</p>
    </div>
    <div class="col-1 d-flex justify-content-end align-self-end">
        <a role="button" class="btn btn-success" href="{{ base_url }}positions/{{ position[0] }}/edit">Edit</a>
    </div>
</div>
<div class="row me-3">
    <div class="col-11">
        <p class="ms-4 mt-4 fs-5 fw-semibold">{{ position[3] }}</p>
    </div>
    <div class="col-1 d-flex justify-content-end align-self-end">
        <a role="button" class="btn btn-success" href="{{ base_url }}positions/add/{{ position[0] }}">Duplicate</a>
    </div>
</div>
<div class="row me-3">
    <div class="col-11">
        <p class="ms-4 mt-5 fw-semibold">Created on: {{ position[5].replace(microsecond=0) }}   Last updated on: {{ position[6].replace(microsecond=0) }}</p>
    </div>
    <div class="col-1 d-flex justify-content-end align-self-end">
        <a role="button" class="btn btn-success" href="{{ base_url }}positions/{{ position[0] }}/{% if position[4] %}archive{% else %}activate{% endif %}">{% if position[4] %}Archive{% else %}Activate{% endif %}</a>
    </div>
</div>
<!-- candidates for this position (* candidates with this pos_id) -->
<div class="row mx-3">
    <div class="col-11">
        <p class="mt-5 fs-5 fw-semibold">Candidates</p>
    </div>
    <div class="col-1 d-flex justify-content-end align-self-end">
        <a role="button" class="btn btn-success" href="{{ base_url }}positions/{{ position[0] }}/add_candidate">+</a>
    </div>
</div>
{% if candidates == [] %}
    <p class="ms-4 mt-3 fw-semibold">No candidates have applied for this position yet.</p>
{% else %}
    <div class="ms-4 me-4 table-responsive-sm">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=candidates.first_name">Names</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.score">CV score</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.structure">Structure</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.contact_info">Contact info</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.work_experience">Work exp</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.education">Education</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.skills">Skills</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.languages">Languages</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=mls.motivation_lvl">Motivation level</a></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for candidate in candidates %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td><a class="link-body-emphasis link-underline link-underline-opacity-0" href="{{ base_url }}positions/{{ position[0] }}/{{ candidate[0] }}">{{ candidate[2] }} {{ candidate[3] }}</a></td>
                        <td class="text-end col-md-1">{% if candidate[13]==None %}-{% else %}{{ candidate[13] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate[14]==None %}-{% else %}{{ candidate[14] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate[15]==None %}-{% else %}{{ candidate[15] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate[16]==None %}-{% else %}{{ candidate[16] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate[17]==None %}-{% else %}{{ candidate[17] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate[18]==None %}-{% else %}{{ candidate[18] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate[19]==None %}-{% else %}{{ candidate[19] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate[20]==None %}-{% else %}{{ candidate[20] }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}
