{% extends "base_logged_in.html" %}

{% set title = 'Positions - History' %}
{% set active_class = 'positions' %}

{% block main %}
<div class="mx-4">
    <p class="text-center mt-5 fs-4 fw-semibold">Past positions</p>
</div>
<div class="mx-4">
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col" class="text-end pe-5" title="Number of candidates applied">Candidates</th>
                <th scope="col" class="text-end pe-5" title="Number of candidates invited to an interview">Invites</th>
                <th scope="col" class="text-end pe-5" title="Number of candidates offered the position">Offers</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for position in positions %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td><a class="link-body-emphasis link-underline link-underline-opacity-0" href="{{ base_url }}positions/{{ position['pos_id'] }}">{{ position['title'] }}</a></td>
                    <td class="col-md-1 text-end pe-5">{{ position['candidates_count'] }}</td>
                    <td class="col-md-1 text-end pe-5">{{ position['invited_count'] }}</td>
                    <td class="col-md-1 text-end pe-5">{{ position['offer_count'] }}</td>
                    <td class="col-md-2">{{ position['created'].replace(microsecond=0) }}</td>
                    <td class="col-md-2">{{ position['last_updated'].replace(microsecond=0) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
