{% extends "base_logged_in.html" %}

{% set title = position['title'] %}
{% set active_class = 'positions' %}

{% block main %}
<div class="row mx-3">
    <div class="col-11">
        <p class="mt-5 fs-4 fw-semibold">{{ position['title'] }}</p>
    </div>
    <div class="col-1 d-flex justify-content-end align-self-end">
        <a role="button" class="btn btn-success" href="{{ base_url }}positions/{{ position['pos_id'] }}/edit">Edit</a>
    </div>
</div>
<div class="row me-3">
    <div class="col-11">
        <p class="ms-4 mt-4 fs-5 fw-semibold">{{ position['description'] }}</p>
    </div>
    <div class="col-1 d-flex justify-content-end align-self-end">
        <a role="button" class="btn btn-success" href="{{ base_url }}positions/add/{{ position['pos_id'] }}">Duplicate</a>
    </div>
</div>
<div class="row me-3">
    <div class="col-11">
        <p class="ms-4 mt-5 fw-semibold">Created on: {{ position['created'].replace(microsecond=0) }}   Last updated on: {{ position['last_updated'].replace(microsecond=0) }}</p>
    </div>
    <div class="col-1 d-flex justify-content-end align-self-end">
        <a role="button" class="btn btn-success" href="{{ base_url }}positions/{{ position['pos_id'] }}/{% if position['active'] %}archive{% else %}activate{% endif %}">{% if position['active'] %}Archive{% else %}Activate{% endif %}</a>
    </div>
</div>
<!-- candidates for this position (* candidates with this pos_id) -->
<div class="ms-4 me-4 mt-3 table-responsive-sm">
    <table class="table table-success table-striped w-auto">
        <thead>
            <tr>
                <th scope="col" class="text-end" title="Number of candidates applied">Candidates</th>
                <th scope="col" class="text-end" title="Number of candidates invited to an interview">Invites</th>
                <th scope="col" class="text-end" title="Number of candidates offered the position">Offers</th>
                <th scope="col" class="text-end" title="Number of rejected candidates">Rejections</th>
                <th scope="col" class="text-end" title="Number of candidates that declined">Declines</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td class="text-end">{{ stats['candidates_count'] }}</td>
                <td class="text-end">{{ stats['invited_count'] }}</td>
                <td class="text-end">{{ stats['offer_count'] }}</td>
                <td class="text-end">{{ stats['rejected_count'] }}</td>
                <td class="text-end">{{ stats['declined_count'] }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row mx-3">
    <div class="col-11">
        <p class="mt-4 fs-5 fw-semibold">Candidates</p>
    </div>
    <div class="col-1 d-flex justify-content-end align-self-end">
        <a role="button" class="btn btn-success" href="{{ base_url }}positions/{{ position['pos_id'] }}/add_candidate">+</a>
    </div>
</div>
{% if candidates == [] %}
    <p class="ms-4 mt-3 fw-semibold">No candidates have applied for this position yet.</p>
{% else %}
    <div class="ms-4 me-4 table-responsive-sm">
        <table class="table table-success table-striped w-auto">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=candidates.first_name">Names</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.score">CV score</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.structure">Structure</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.contact_info">Contact info</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.work_experience">Work exp</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.education">Education</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.skills">Skills</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=cvs.languages">Languages</a></th>
                    <th scope="col" class="text-end"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=mls.motivation_lvl">Motivation level</a></th>
                    <th scope="col" class="text-center"><a class="link-body-emphasis link-underline link-underline-opacity-0" href="?sort_column=interviews.score">Interview</a></th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for candidate in candidates %}
                    <tr id="candidate-{{ loop.index }}">
                        <th scope="row">{{ loop.index }}</th>
                        <td><a class="link-body-emphasis link-underline link-underline-opacity-0" href="{{ base_url }}positions/{{ position['pos_id'] }}/{{ candidate['cand_id'] }}">{{ candidate['first_name'] }} {{ candidate['last_name'] }}{% if candidate['hired'] %}  <i class="fa-solid fa-crown" title="{{ candidate['first_name'] }} {{ candidate['last_name'] }} has been hired." style="color: #027e1b;"></i>{% endif %}</a></td>
                        <td class="text-end col-md-1">{% if candidate['cv_score']==None %}-{% else %}{{ candidate['cv_score'] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate['structure']==None %}-{% else %}{{ candidate['structure'] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate['contact_info']==None %}-{% else %}{{ candidate['contact_info'] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate['work_experience']==None %}-{% else %}{{ candidate['work_experience'] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate['education']==None %}-{% else %}{{ candidate['education'] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate['skills']==None %}-{% else %}{{ candidate['skills'] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate['languages']==None %}-{% else %}{{ candidate['languages'] }}{% endif %}</td>
                        <td class="text-end col-md-1">{% if candidate['motivation_lvl']==None %}-{% else %}{{ candidate['motivation_lvl'] }}{% endif %}</td>
                        <td>
                            {% if candidate['invited'] %}{% if candidate['date'] %}<i class="fa-solid fa-check ms-2" title="The interview took place." style="color: #027e1b;"></i>{% else %}<i class="fa-solid fa-minus ms-2" title="The candidate has been invited, but the interview hasn't taken place yet." style="color: #027e1b;"></i>{% endif %}{% else %}<i class="fa-solid fa-xmark ms-2" title="The candidate hasn't been invited to an interview." style="color: #027e1b;"></i>{% endif %}
                            {% if candidate['score'] %}<span class="ms-2" title="Score">{{ candidate['score'] }}/10{% endif %}</span>
                            {% if candidate['date'] %}<span class="ms-2" title="Date of the interview">{{ candidate['date'] }}{% endif %}</span>
                        </td>
                        <td class="text-end">
                            <a class="ms-2" href="{{ base_url }}add_cv?cand={{ candidate['cand_id'] }}" title="Add CV"><i class="fa-solid fa-file" style="color: #027e1b;"></i></a>
                            <a class="ms-2" href="{{ base_url }}add_ml?cand={{ candidate['cand_id'] }}" title="Add motivational letter"><i class="fa-solid fa-file-lines" style="color: #027e1b;"></i></a>
                            <a class="ms-2" href="{{ base_url }}positions/{{ candidate['pos_id'] }}/{{ candidate['cand_id'] }}/invitation" onclick="spinner.show()" title="Send interview invitation"><i class="fa-solid fa-square-plus" style="color: #027e1b;"></i></a>
                            <a class="ms-2" href="{{ base_url }}positions/{{ candidate['pos_id'] }}/{{ candidate['cand_id'] }}/rejection" onclick="spinner.show()" title="Send rejection e-mail"><i class="fa-solid fa-square-minus" style="color: #027e1b;"></i></a>
                            <form action="{{ base_url }}positions/{{ position['pos_id'] }}/{{ candidate['cand_id'] }}/delete" class="d-inline-block c-pointer">
                                <i class="fa-solid fa-trash ms-3" title="Delete candidate" style="color: #027e1b;" onclick="confirm('Are you sure?') && this.parentNode.submit()"></i>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}
