{% extends "base_logged_in.html" %}

{% set title = 'Positions' %}
{% set active_class = 'positions' %}

{% block main %}
<div class="row mx-4">
    <div class="col-11">
        <p class="text-center mt-5 fs-4 fw-semibold">Available positions</p>
    </div>
    <div class="col-1 d-flex justify-content-end align-self-end">
        <a role="button" class="btn btn-success" href="{{ base_url }}positions/add">+</a>
    </div>
</div>
<div class="mx-4">
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Number of candidates applied</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for position in positions %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td><a class="link-body-emphasis link-underline link-underline-opacity-0" href="{{ base_url }}positions/{{ position[0] }}">{{ position[2] }}</a></td>
                    <td class="col-md-2">{{ position[7] }}</td>
                    <td class="col-md-2">{{ position[5].replace(microsecond=0) }}</td>
                    <td class="col-md-2">{{ position[6].replace(microsecond=0) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
