{% extends "base_logged_in.html" %}

<!-- Positions should be active and the links are with ../
<a class="navbar-brand text-white" href="../home">SmartHire</a> -->
<!-- <a class="nav-link text-white" href="../home">Dashboard</a>
<a class="nav-link active text-white" aria-current="page" href="../positions">Positions</a>
<a class="nav-link text-white" href="../add_cv">Add CV</a>
<a class="nav-link text-white" href="../add_ml">Add ML</a> -->
<!-- <li><a class="dropdown-item" href="../profile">Profile</a></li>
<li><a class="dropdown-item" href="../logout">Log out</a></li> -->

{% block main %}
<div class="row mx-3">
    <div class="col-11">
        <p class="mt-5 fs-4 fw-semibold">{{ position[2] }}</p>
    </div>
    <div class="col-1 d-flex justify-content-end align-self-end">
        <a role="button" class="btn btn-success" href="{{ position[0] }}/edit">Edit</a>
    </div>
</div>
<p class="ms-4 mt-4 fs-5 fw-semibold">{{ position[3] }}</p>
<p class="ms-4 mt-5 fw-semibold">Created on: {{ position[5].replace(microsecond=0) }}   Last updated on: {{ position[6].replace(microsecond=0) }}</p>
<!-- candidates for this position (* candidates with this pos_id) -->
<p class="ms-4 mt-5 fs-5 fw-semibold">Candidates</p>
{% if candidates == [] %}
    <p class="ms-4 mt-3 fw-semibold">No candidates have applied for this position yet.</p>
{% endif %}
<div class="list-group list-group-numbered list-group-flush ms-4 col-sm-4">
    {% for candidate in candidates %}
        <a href="" class="list-group-item list-group-item-action list-group-item-success">{{ candidate[2] }} {{ candidate[3] }}</a>
    {% endfor %}
</div>
{% endblock %}
