{% extends "base_logged_in.html" %}

{% set title = 'Profile' %}

{% block main %}
<p class="text-center mt-5 fs-4 fw-semibold">Profile</p>
<div class="d-flex justify-content-center">
    {% if invalid %}
        <div class="alert alert-danger" role="alert">
            Not an image file or too big! Only image files less than 2MB are allowed.
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            Something went wrong. Please try again.
        </div>
    {% endif %}
</div>
<div class="mx-4">
    <form class="mb-3 row" method="POST" enctype="multipart/form-data">
        <label for="staticAvatar" class="col-sm-2 col-form-label fw-semibold">Profile picture</label>
        <div class="col-sm-2">
            <img src="../static/images/{{ avatar }}" alt="Profile Picture" width="30" height="24" class="rounded-circle img-fluid">
        </div>
        <label for="formFile" class="col-sm-1 col-form-label fw-semibold">Change picture</label>
        <div class="col-sm-2">
            <input class="form-control" type="file" id="formFile" name= "avatar" required>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-success">Upload</button>
        </div>
    </form>
</div>
<div class="mx-4">
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label fw-semibold">Email</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ email }}">
        </div>
    </div>
</div>
<div class="mx-4">
    <div class="mb-3 row">
        <label for="staticUsername" class="col-sm-2 col-form-label fw-semibold">Username</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticUsername" value="{{ username }}">
        </div>
    </div>
</div>
<div class="mx-4">
    <a role="button" class="btn btn-success" href="{{ base_url }}change_password">Change password</a>
</div>
{% endblock %}
