{% extends "base.html" %}

{% block content %}
<p class="text-center mt-5 mb-5 fs-4 fw-semibold">Create your account</p>
{% include 'google_buttons.html' %}
<p class="text-center mt-3 fs-5 fw-semibold">or</p>
<div class="d-flex justify-content-center">
    {% if invalid_username %}
        <div class="alert alert-danger" role="alert">
            Invalid input. Please enter a username that satisfies the rules.
        </div>
    {% endif %}
    {% if invalid_password %}
        <div class="alert alert-danger" role="alert">
            Invalid input. Please enter a password that satisfies the rules.
        </div>
    {% endif %}
    {% if exist %}
        <div class="alert alert-danger" role="alert">
            An account with that email or username already exists. Please try again.
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            Something went wrong. Please try again.
        </div>
    {% endif %}
</div>
<div class="d-flex justify-content-center">
    <form class="ms-3 col-sm-3" method="POST">
        <div class="mb-3">
            <label for="inputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail1" name="email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="inputUsername1" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputUsername1" name="username" aria-describedby="usernameHelp" required>
            <div id="usernameHelp" class="form-text">Your username must be at least 6 characters long and contain only letters, numbers, underscore, dot and/or minus.</div>
        </div>
        <div class="mb-3">
            <label for="inputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword1" name="password" aria-labelledby="passwordHelp" required>
            <div id="passwordHelp" class="form-text">Your password must be at least 6 characters long and contain at least 1 number and at least 1 special character.</div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
<script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}
